In [16]:
#installing kaggel library
! pip install kaggle

Requirement already satisfied: kaggle in c:\users\lenovo\onedrive\desktop\project\venv\lib\site-packages (1.7.4.5)
Requirement already satisfied: bleach in c:\users\lenovo\onedrive\desktop\project\venv\lib\site-packages (from kaggle) (6.3.0)
Requirement already satisfied: certifi>=14.05.14 in c:\users\lenovo\onedrive\desktop\project\venv\lib\site-packages (from kaggle) (2025.10.5)
Requirement already satisfied: charset-normalizer in c:\users\lenovo\onedrive\desktop\project\venv\lib\site-packages (from kaggle) (3.4.4)
Requirement already satisfied: idna in c:\users\lenovo\onedrive\desktop\project\venv\lib\site-packages (from kaggle) (3.11)
Requirement already satisfied: protobuf in c:\users\lenovo\onedrive\desktop\project\venv\lib\site-packages (from kaggle) (6.33.0)
Requirement already satisfied: python-dateutil>=2.5.3 in c:\users\lenovo\onedrive\desktop\project\venv\lib\site-packages (from kaggle) (2.9.0.post0)
Requirement already satisfied: python-slugify in c:\users\lenovo\onedrive\desktop\project\venv\lib\site-packages (from kaggle) (8.0.4)
Requirement already satisfied: requests in c:\users\lenovo\onedrive\desktop\project\venv\lib\site-packages (from kaggle) (2.32.5)
Requirement already satisfied: setuptools>=21.0.0 in c:\users\lenovo\onedrive\desktop\project\venv\lib\site-packages (from kaggle) (80.9.0)
Requirement already satisfied: six>=1.10 in c:\users\lenovo\onedrive\desktop\project\venv\lib\site-packages (from kaggle) (1.17.0)
Requirement already satisfied: text-unidecode in c:\users\lenovo\onedrive\desktop\project\venv\lib\site-packages (from kaggle) (1.3)
Requirement already satisfied: tqdm in c:\users\lenovo\onedrive\desktop\project\venv\lib\site-packages (from kaggle) (4.67.1)
Requirement already satisfied: urllib3>=1.15.1 in c:\users\lenovo\onedrive\desktop\project\venv\lib\site-packages (from kaggle) (2.5.0)
Requirement already satisfied: webencodings in c:\users\lenovo\onedrive\desktop\project\venv\lib\site-packages (from kaggle) (0.5.1)
Requirement already satisfied: colorama in c:\users\lenovo\onedrive\desktop\project\venv\lib\site-packages (from tqdm->kaggle) (0.4.6)

importing sentiment analysis data

In [17]:
#API to fetch the dataset from kaggle
!kaggle datasets download -d kazanova/sentiment140

Traceback (most recent call last):
  File "<frozen runpy>", line 198, in _run_module_as_main
  File "<frozen runpy>", line 88, in _run_code
  File "c:\Users\LENOVO\OneDrive\Desktop\Project\venv\Scripts\kaggle.exe\__main__.py", line 6, in <module>
  File "C:\Users\LENOVO\OneDrive\Desktop\Project\venv\Lib\site-packages\kaggle\cli.py", line 68, in main
    out = args.func(**command_args)
          ^^^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\LENOVO\OneDrive\Desktop\Project\venv\Lib\site-packages\kaggle\api\kaggle_api_extended.py", line 1741, in dataset_download_cli
    with self.build_kaggle_client() as kaggle:
         ^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\LENOVO\OneDrive\Desktop\Project\venv\Lib\site-packages\kaggle\api\kaggle_api_extended.py", line 688, in build_kaggle_client
    username=self.config_values['username'],
             ~~~~~~~~~~~~~~~~~~^^^^^^^^^^^^
KeyError: 'username'

In [18]:
#Extracting the compressed dataset
from zipfile import ZipFile
dataset = 'C:/Users/LENOVO/OneDrive/Desktop/Project/Code/dataset.zip'

with ZipFile(dataset, 'r') as zip:
  zip.extractall()
  print('The dataset is extracted')

The dataset is extracted

Install necessary Libraries

In [19]:
import numpy as np
import pandas as pd
import re
from nltk.corpus import stopwords
from nltk.stem.porter import PorterStemmer
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import BernoulliNB
from sklearn.linear_model import LogisticRegression
from sklearn.svm import LinearSVC
from sklearn.metrics import accuracy_score, classification_report

In [20]:
import nltk
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\LENOVO\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [21]:
#printing the stopwords in english
import nltk
from nltk.corpus import stopwords # <--- ADD THIS LINE

# Now you can use stopwords directly:
print(stopwords.words('english'))

['a', 'about', 'above', 'after', 'again', 'against', 'ain', 'all', 'am', 'an', 'and', 'any', 'are', 'aren', "aren't", 'as', 'at', 'be', 'because', 'been', 'before', 'being', 'below', 'between', 'both', 'but', 'by', 'can', 'couldn', "couldn't", 'd', 'did', 'didn', "didn't", 'do', 'does', 'doesn', "doesn't", 'doing', 'don', "don't", 'down', 'during', 'each', 'few', 'for', 'from', 'further', 'had', 'hadn', "hadn't", 'has', 'hasn', "hasn't", 'have', 'haven', "haven't", 'having', 'he', "he'd", "he'll", 'her', 'here', 'hers', 'herself', "he's", 'him', 'himself', 'his', 'how', 'i', "i'd", 'if', "i'll", "i'm", 'in', 'into', 'is', 'isn', "isn't", 'it', "it'd", "it'll", "it's", 'its', 'itself', "i've", 'just', 'll', 'm', 'ma', 'me', 'mightn', "mightn't", 'more', 'most', 'mustn', "mustn't", 'my', 'myself', 'needn', "needn't", 'no', 'nor', 'not', 'now', 'o', 'of', 'off', 'on', 'once', 'only', 'or', 'other', 'our', 'ours', 'ourselves', 'out', 'over', 'own', 're', 's', 'same', 'shan', "shan't", 'she', "she'd", "she'll", "she's", 'should', 'shouldn', "shouldn't", "should've", 'so', 'some', 'such', 't', 'than', 'that', "that'll", 'the', 'their', 'theirs', 'them', 'themselves', 'then', 'there', 'these', 'they', "they'd", "they'll", "they're", "they've", 'this', 'those', 'through', 'to', 'too', 'under', 'until', 'up', 've', 'very', 'was', 'wasn', "wasn't", 'we', "we'd", "we'll", "we're", 'were', 'weren', "weren't", "we've", 'what', 'when', 'where', 'which', 'while', 'who', 'whom', 'why', 'will', 'with', 'won', "won't", 'wouldn', "wouldn't", 'y', 'you', "you'd", "you'll", 'your', "you're", 'yours', 'yourself', 'yourselves', "you've"]

Data Processing

In [22]:
#loading the data from csv file to pands dataframe
twitter_data = pd.read_csv(
    r'C:/Users/LENOVO/OneDrive/Desktop/Project/Code/dataset/training.1600000.processed.noemoticon.csv',
    encoding='ISO-8859-1'
)

In [23]:
#checking the number of rows and columns
twitter_data.shape

(1599999, 6)

In [24]:
#printing the first 5 rows of dataframes
twitter_data.head()

,0,1467810369,Mon Apr 06 22:19:45 PDT 2009,NO_QUERY,_TheSpecialOne_,"@switchfoot http://twitpic.com/2y1zl - Awww, that's a bummer. You shoulda got David Carr of Third Day to do it. ;D"
0,0,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,is upset that he can't update his Facebook by ...
1,0,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,@Kenichan I dived many times for the ball. Man...
2,0,1467811184,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,ElleCTF,my whole body feels itchy and like its on fire
3,0,1467811193,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,Karoli,"@nationwideclass no, it's not behaving at all...."
4,0,1467811372,Mon Apr 06 22:20:00 PDT 2009,NO_QUERY,joy_wolf,@Kwesidei not the whole crew

In [25]:
#naming the columns adn reading the dataset again
column_names = ['target','id','date','flag','user','text']
twitter_data = pd.read_csv(r'C:/Users/LENOVO/OneDrive/Desktop/Project/Code/dataset/training.1600000.processed.noemoticon.csv', names=column_names, encoding = 'ISO-8859-1')

In [26]:
#checking the number of rows adn columns
twitter_data.shape

(1600000, 6)

In [27]:
#printing the first 5 rows of dataframes
twitter_data.head()

,target,id,date,flag,user,text
0,0,1467810369,Mon Apr 06 22:19:45 PDT 2009,NO_QUERY,_TheSpecialOne_,"@switchfoot http://twitpic.com/2y1zl - Awww, t..."
1,0,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,is upset that he can't update his Facebook by ...
2,0,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,@Kenichan I dived many times for the ball. Man...
3,0,1467811184,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,ElleCTF,my whole body feels itchy and like its on fire
4,0,1467811193,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,Karoli,"@nationwideclass no, it's not behaving at all...."

In [28]:
#countin the number of missing values in the dataset
twitter_data.isnull().sum()

target    0
id        0
date      0
flag      0
user      0
text      0
dtype: int64

In [29]:
#checking the distribution of target column
twitter_data['target'].value_counts()

target
0    800000
4    800000
Name: count, dtype: int64

In [30]:
#convert the target '4' to '1'
twitter_data.replace({'target':{4:1}}, inplace=True)

In [31]:
#checking the distribution of target column
twitter_data['target'].value_counts()

target
0    800000
1    800000
Name: count, dtype: int64

0 --> negative
1 --> positive

**STEMMING**
Stemming is the process of reducing a word ot its root word

In [32]:
port_stem = PorterStemmer()

In [33]:
def stemming(content):
    stemmed_content = re.sub('[^a-zA-Z]',' ',content)
    stemmed_content = stemmed_content.lower()
    stemmed_content = stemmed_content.split()
    stemmed_content = [port_stem.stem(word) for word in stemmed_content if not word in stopwords.words('english')]
    stemmed_content = ' '.join(stemmed_content)

    return stemmed_content

In [ ]:
twitter_data['stemmed_content'] = twitter_data['text'].apply(stemming)

In [ ]:
twitter_data.head()

In [ ]:
print(twitter_data['stemmed_content'])

In [ ]:
print(twitter_data['target'])

In [ ]:
#seperating the data and label
X = twitter_data['stemmed_content'].values
Y = twitter_data['target'].values

In [ ]:
print(X)

In [ ]:
print(Y)

In [ ]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, stratify=Y, random_state=2)

In [ ]:
print(X.shape, X_train.shape, X_test.shape)

In [ ]:
print(X_train)

In [ ]:
print(X_test)

In [ ]:
#converting the textual data to numerical value
vectorizer = TfidfVectorizer()

X_train = vectorizer.fit_transform(X_train)
X_test = vectorizer.transform(X_test)

In [ ]:
print(X_train)

In [ ]:
print(X_test)

**Training the machine learning model**

Logistic Regression

In [ ]:
model = LogisticRegression(max_iter=100)

In [ ]:
model.fit(X_train, Y_train)

Model evalutation

In [ ]:
#Accuracy score on the training data
X_train_prediction = model.predict(X_train)
training_data_accuracy = accuracy_score(Y_train, X_train_prediction)

In [ ]:
print('Accuracy score on the training data: ', training_data_accuracy)

Accuracy on training data is 79.87%

In [ ]:
#Accuracy score on test data
X_test_prediction = model.predict(X_test)
test_data_accuracy = accuracy_score(Y_test, X_test_prediction)

In [ ]:
print('Accuracy score on the training data: ', test_data_accuracy)

Model accuracy = 77.67%

In [ ]:
import pickle
filename = 'logistic_regression_model.sav'
pickle.dump(model, open(filename, 'wb'))

In [ ]:
#loading the savaed model
loaded_model = pickle.load(open(r'F:\Code\python\logistic_regression_model.sav', 'rb'))

In [ ]:
X_new = X_test[200]
print(Y_test[200])

prediction = model.predict(X_new)
print(prediction)

if (prediction[0] == 0):
    print('negative tweet')

else:
    print('positive tweet')

In [ ]:
X_new = X_test[3]
print(Y_test[3])

prediction = model.predict(X_new)
print(prediction)

if (prediction[0] == 0):
    print('negative tweet')

else:
    print('positive tweet')

Naive Bayes model

In [ ]:
bnb = BernoulliNB()

In [ ]:
bnb.fit(X_train, Y_train)

Model evaluation

In [ ]:
#Accuracy score
bnb_pred = bnb.predict(X_test)

print("Bernoulli Naive Bayes Accuracy:", accuracy_score(Y_test, bnb_pred))
print("\nBernoulliNB Classification Report:\n", classification_report(Y_test, bnb_pred))

In [ ]:
import pickle
filename = 'Naive_bayes_model.sav'
pickle.dump(model, open(filename, 'wb'))

Support Vector Machine (SVM) model

In [ ]:
svm = LinearSVC(max_iter=1000)

In [ ]:
svm.fit(X_train, Y_train)

Model evaluation

In [ ]:
svm_pred = svm.predict(X_test)

print("SVM Accuracy:", accuracy_score(Y_test, svm_pred))
print("\nSVM Classification Report:\n", classification_report(Y_test, svm_pred))

In [ ]:
import pickle
filename = 'SVM_model.sav'
pickle.dump(model, open(filename, 'wb'))